---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h2>Microservices</h2>
  <p>Une expérience intéressante</p>
	<ul>
		<li>Lucas Damian</li>
		<li>Romain Grange</li>
		<li>Ruddy Morel</li>
		<li>Jules Poissonnet</li>
	</ul>
</Slide>
